.footer{
  margin-top: 200px;
  margin-bottom: 50px;
  display: flex;
  gap: 80px;
}
.footer h2{
  padding-bottom: 20px;
}

.footer-logo{
  display: flex;
}
.footer-logo h2{
  padding: 10px;
}


.footer-input{
  width: 325px;
  height: 48px;
}

.footerBtn{
  margin-top: 20px;
  background-color: #02897A;
  color: #fff;
  border: none;
  padding: 13px;
  border-radius: 5px;
  cursor: pointer;
}



@media screen and (max-width: 1000px){
  .footer{
  margin-left: 20%;
  display: block;
  gap: 80px;
  margin-bottom: 60px;
}
.resource{
  margin-top: 70px;
}
.legal{
  margin-top: 50px;
}
.footer-input{
  margin-top: 30px;
}
}